NQIXT9_0928/SzP_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT konyvtar (konyv+)>
<!ELEMENT konyv (cim, ev, kiado, szerzo+, absztrakt?)>
<!ATTLIST konyv id CDATA #REQUIRED>
<!ELEMENT cim (#PCDATA)>
<!ELEMENT ev (#PCDATA)>
<!ELEMENT kiado (#PCDATA)>
<!ELEMENT szerzo (#PCDATA)>
<!ELEMENT absztrakt (#PCDATA)>