NQIXT9_0928/SzP_udvar.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT udvar (gazda, kutya, kakas, tyuk+, roka?, diszno)>
	<!ELEMENT gazda EMPTY>
	<!ATTLIST gazda nev CDATA #REQUIRED>
	<!ELEMENT kutya EMPTY>
	<!ATTLIST kutya nev CDATA #REQUIRED>
	<!ELEMENT kakas EMPTY>
	<!ATTLIST kakas id ID #REQUIRED>
	<!ELEMENT tyuk EMPTY>
	<!ATTLIST tyuk ferj IDREF #IMPLIED>
	<!ELEMENT roka EMPTY>
	<!ELEMENT diszno EMPTY>
	<!ATTLIST diszno nev CDATA #REQUIRED>